/* _typography */

/*
특수문자, 영문, 숫자

1. 특수문자 범위: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E
2. 영문 범위: U+0041-005A(대문자), U+0061-007A(소문자)
3. 숫자 범위: U+0030-0039
전체 U+0020-007E
*/

/* Noto Sans KR */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("../../fonts/NotoSansKR-Thin.otf");
  src: local(""), url("../../fonts/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../../fonts/NotoSansKR-Light.otf");
  src: local(""), url("../../fonts/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../fonts/NotoSansKR-Regular.otf");
  src: local(""), url("../../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../../fonts/NotoSansKR-Medium.otf");
  src: local(""), url("../../fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../../fonts/NotoSansKR-Bold.otf");
  src: local(""), url("../../fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../../fonts/NotoSansKR-Black.otf");
  src: local(""), url("../../fonts/NotoSansKR-Black.otf") format("opentype");
}
