/* _minxin */
$width1920: 192rem;
$width1660: 166rem;
$width1440: 144rem;
$width1280: 128rem;

$color-white-1: #ffffff;
$color-white-opacity-1: rgba(255, 255, 255, 0.5);
$color-blue-1: #3a53fb;

$color-black-0: #000000;
$color-black-1: #202124;

$color-grey-0: #f0f0f0;
$color-grey-1: #8b8c90;
$color-grey-2: #7a7a7c;
$color-grey-3: #c6c6c7;
$color-grey-4: #dadfe2;

$radius-btn: 3px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;

$btn--primary: #3a53fb;
